/Dokumentation/Machbarkeitsstudie/Latex/Diplomarbeit_KOPG_TGM.log
/Dokumentation/Machbarkeitsstudie/Latex/Diplomarbeit_KOPG_TGM.pdf
/Dokumentation/Machbarkeitsstudie/Latex/Diplomarbeit_KOPG_TGM.synctex.gz
/Dokumentation/Machbarkeitsstudie/Latex/Diplomarbeit_KOPG_TGM.xdy