<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.8.3" targetFramework="net40" />
  <package id="jquery.datatables" version="1.9.4" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.10.0" targetFramework="net40" />
  <package id="Nauck.PostgresSQLProvider" version="1.4.0" targetFramework="net40" />
  <package id="Npgsql" version="2.0.12.1" targetFramework="net40" />
</packages>