<?xml version="1.0" encoding="utf-8"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="AspSQLProvider" connectionString="Server=127.0.0.1;Port=5432;Database=aquila;User Id=postgres;Password=short;Encoding=UNICODE;Sslmode=Prefer;Pooling=true;"/>
  </connectionStrings>
  
  <system.web>

    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <globalization uiCulture="en" culture="en-US" />

    <authorization>
      <allow roles="Admin" />
      <deny users="?" />
    </authorization>
    <authentication mode="Forms">
      <forms name=".AspNetAuth" protection="All" defaultUrl="~/Default.aspx"
          loginUrl="~/Login.aspx" timeout="30" path="/" requireSSL="false"
          slidingExpiration="true" enableCrossAppRedirects="false" />
    </authentication>

    <machineKey
validationKey="5C93E10F4420032D3B6A47C2B3B0F1F94682E2CDF5915FE0913A8443ADB57CE7E01C6089C52773A8745252E1C03213BB7511BED4E17845521261D9D638AB74E5"
decryptionKey="FE32BA37011A7718CFFFF005AC535F0C3F5B9862A71D04C84C02594784B038A0"
validation="SHA1" decryption="AES"
/>
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    
    <pages theme="Design1">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>

    <membership defaultProvider="PgMembershipProvider">
      <providers>
        <clear/>
        <add name="PgMembershipProvider" type="NauckIT.PostgreSQLProvider.PgMembershipProvider" connectionStringName="AspSQLProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Hashed" applicationName="AquilaWeb"/>
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="PgRoleProvider" cacheRolesInCookie="true" cookieName=".AspNetRoles" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieTimeout="30" maxCachedResults="25">
      <providers>
        <clear/>
        <add name="PgRoleProvider" type="NauckIT.PostgreSQLProvider.PgRoleProvider" connectionStringName="AspSQLProvider" applicationName="AquilaWeb"/>
      </providers>
    </roleManager>

    <profile enabled="true" defaultProvider="PgProfileProvider">
      <providers>
        <clear/>
        <add name="PgProfileProvider" type="NauckIT.PostgreSQLProvider.PgProfileProvider" connectionStringName="AspSQLProvider" applicationName="AquilaWeb"/>
      </providers>
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
      </properties>
    </profile>

    <sessionState    mode="Custom"    customProvider="PgSessionStateStoreProvider">
      <providers>
        <clear/>
        <add name="PgSessionStateStoreProvider" type="NauckIT.PostgreSQLProvider.PgSessionStateStoreProvider" enableExpiredSessionAutoDeletion="true" expiredSessionAutoDeletionInterval="60000" enableSessionExpireCallback="false" connectionStringName="AspSQLProvider" applicationName="AquilaWeb" />
      </providers>
    </sessionState>

  </system.web>
  
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <appSettings>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/ChartImgs/;" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_SettingsHandler" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/SettingsHandler/SettingsHandlerService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SettingsHandler"
        contract="ServiceReference1.SettingsHandler" name="WSHttpBinding_SettingsHandler">
        <identity>
          <userPrincipalName value="MAPPLE\peer" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>